body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #fff;
}

.clr {
    clear: both;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: auto;
}

.button{
    background-color: #333;
    color: #ccc;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.6s;
}

.button:hover{
    color: #fff;
    /* border: 1px solid #fff; */
    transition: 0.6s;   
}

.box-1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.box-2 {
    border: 5px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories ul{
    padding: 0;
    list-style: none;
    /* display: inline; */
    
}

.categories {
    text-decoration: none;
    background-color: #ccc;
    padding: 20px;
}

.categories li {
    padding-bottom: 8px;
    border-bottom: 1px dotted #000;
}

.my-form {
    padding: 20px 20px 20px 0;
    /* background: yellow; */
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

/* .my-form input[type="submit"]{
    margin-left: 20px;
} */

.block {
   width: 33.3%;
   float: left;
   border: 1px solid #ccc;
   padding: 8px 15px;
   box-sizing: border-box;
}
#main-block{
    /* margin-top: 20px; */
    float: left;
    width: 70%;
    padding: 8px 15px;
    box-sizing: border-box;
}
#sidebar{
    margin-top: 20px;
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    box-sizing: border-box;
    font-style: italic;
    font-size: 12pt;
}

.p-box {
    width: 100%;
    height: 280px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background: url(../img/bgimage.png) no-repeat;
    background-size: cover;
}

.p-box h1{
    top: 20px;
    position: absolute;
    left: 50%;
    color: #f4f4f4;
}
.p-box h2{
    top: 100px;
    position: absolute;
    left: 40%;
    color: #f4f4f4;
}

.fix-me {
    position: fixed;
    top: 700px;
}

.my-list {
    list-style: none;
    /* width: 100%; */
    /* margin-left: -40px; */
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    line-height: 2em;s
}

.my-list li:first-child{
    background: rgb(210, 4, 41);
}

.my-list li:last-child{
    background: rgb(4, 193, 174);
}

.my-list li:nth-child(2){
    background: rgba(255, 183, 0, 0.906);
}